body {
  max-width: 450px;
  margin: 0 auto;
  background: black;
}
button{
  margin: 10px;
}
.app-container{
  background: darkslategrey;
  padding: 15px;
  border-radius: 10px;
  margin-top: 25%;
}
.app-container h1{
  text-align: center;
  color: white;
}

.todo-list{
  margin: 0 auto;
}

.form{

}
